canvas {
  position: fixed;
  top: 0;
  left: 0;
}

section {
  min-height: 100vh;
  padding: 20px;
  font-size: 4vh;
}

#scrollProgress {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  font-size: 3vh;
  color: #ffffff;
}

#Start {
  padding: 0;
  border: 0;
  margin: 0;
  
}
#Start1 {
  text-align: center;
  padding: 0;
  border: 0;
  margin: 0;
  opacity: 0.7;
  
}
#Ending {
  position: relative;
  text-align: center;
}

#textColor {
  color: #ffffff;
  background-color: black;
}

